/*

Add styles or override variables from the theme here.

*/

// decrease general font size
$font-size-base: 0.9rem;

/* 
SCSS RGB
- Created with https://coolors.co/
- Based on IBDS colors
*/
// IBDS green
$india-green: rgba(57, 135, 12, 1);
// IBDS lightgreen
$honeydew: #e1eddbff;
// IBDS blue
$honolulu-blue: #007bc7;
$celadon: #BBD6AE;
$sandy-brown: #F7eed0;
$vanilla: #EDD996;
$african-violet: #DABFFF;
$light-yellow: #f7ffe0ff;
$fairy-tale: #eac4d5ff;
$english-violet: #654f6fff;
$ultra-violet: #5c5d8dff;
$light-cyan: #DDF7FF;
$non-photo-blue: #99E7FF;
$misty-rose: #FFE0D6;
$atomic-tangerine: #FFA385;
$burnt-sienna: #DE6B48;

$ontwerp-blue: rgb(0, 123, 199);
$ontwerp-blue-transparant: rgba(0, 123, 199, 0.2);
$ontwerp-green: rgb(57, 135, 12);
$ontwerp-green-transparant: rgba(57, 135, 12, 0.2);

$capability-root: $ontwerp-blue-transparant;
$capability-interop: $ontwerp-blue-transparant;
$capability-interop-part:$ontwerp-blue-transparant;
$capability-vertrouwen: $ontwerp-blue-transparant;
$capability-vertrouwen-part: $ontwerp-blue-transparant;
$capability-datawaarde:$ontwerp-blue-transparant;
$capability-datawaarde-part:$ontwerp-blue-transparant;
$capability-governance: $ontwerp-green-transparant;
$capability-governance-part: $ontwerp-green-transparant;

$capability-selected: $vanilla;
// $capability-selected: rgba(57, 135, 12, 0.5);

// Docsy color settings
$primary: $india-green;
$secondary: $honeydew;
$info: $ontwerp-blue;

$link-color: $ontwerp-blue;
